@page "/usermanager"
@using FrontEnd.Models
<h3>Admin</h3>

<div class="container">
    <div class="row">
        <a class="border-danger mb-3 mx-3 btn btn-danger text-black" style="max-width: 250px;" href="usermanager">
            <h5 class="card-title m-5">Users Manager</h5>
        </a>
        <a class="card border-warning mb-3 mx-3 btn btn-warning text-black" style="max-width: 250px;" href="productmanager">
            <h5 class="card-title m-5">Products Manager</h5>
        </a>
        <a class="card border-info mb-3 mx-3 btn btn-info text-black" style="max-width: 250px;" href="ordermanager">
            <h5 class="card-title m-5">Orders Manager</h5>
        </a>
        <a class="card border-success mb-3 mx-3 btn btn-success text-black" style="max-width: 250px;" href="categorymanager">
            <h5 class="card-title m-5">Category Manager</h5>
        </a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="createFood" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-large">
            <div class="modal-content">
                <div class="container-fluid p-5">
                    <EditForm Model="User" OnValidSubmit="Create" class="row" FormName="CreateForm">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <InputText type="hidden" @bind-Value="User.Id" class="form-control w-100" />

                        <div class="form-group input-group mb-3">
                            <label class="control-label fw-bold input-group-text">Username :</label>
                            <InputText @bind-Value="User.Name" class="form-control w-100" />
                            <ValidationMessage For="@(() => User.Name)" />
                        </div>

                        <div class="form-group input-group mb-3">
                            <label class="control-label fw-bold input-group-text">Gender:</label>
                            <InputRadioGroup @bind-Value="User.Gender" class="form-control w-100">
                                <div class="form-check">
                                    <InputRadio class="form-check-input" Value="GenderType.Male" />
                                    <label class="form-check-label">Nam</label>
                                </div>
                                <div class="form-check">
                                    <InputRadio class="form-check-input" Value="GenderType.Female" />
                                    <label class="form-check-label">Nữ</label>
                                </div>
                            </InputRadioGroup>
                            <ValidationMessage For="@(() => User.Gender)" />
                        </div>

                        <div class="form-group input-group mb-3">
                            <label class="control-label fw-bold input-group-text">PhoneNumber:</label>
                            <InputText @bind-Value="User.PhoneNumber" class="form-control w-100" />
                            <ValidationMessage For="@(() => User.PhoneNumber)" />
                        </div>

                        <div class="form-group input-group mb-3">
                            <label class="control-label fw-bold input-group-text">Address:</label>
                            <InputText @bind-Value="User.Address" class="form-control w-100" />
                            <ValidationMessage For="@(() => User.Address)" />
                        </div>

                        <div class="form-group input-group mb-3">
                            <label class="control-label fw-bold input-group-text">Email:</label>
                            <InputText @bind-Value="User.Email" class="form-control w-100" />
                            <ValidationMessage For="@(() => User.Email)" />
                        </div>

                        <div class="form-group mt-3 text-center">
                            <button type="submit" class="btn btn-danger w-50">Create</button>
                        </div>
                    </EditForm>

                    @if (!string.IsNullOrEmpty(notification))
                    {
                        <div class="alert alert-success">
                            @notification
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @* <partial name="_CreateAccount"></partial> *@
    <nav class="navbar navbar-light bg-light justify-content-end">
        <a class="form-inline btn btn-danger me-5" data-toggle="modal" data-target="#createFood"><span><i class="fas fa-plus"></i></span> Thêm</a>
        <div class="form-inline">
            <input class="mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-danger my-3 my-sm-0 m-2" type="submit">Search</button>
        </div>
    </nav>
    <div class="card border border-light rounded p-3 shadow bg-light">
        <table class="table table-active table-hover table-responsive">
            <thead>
                <tr>
                    <th>
                        Avatar
                    </th>
                    <th>
                        Id
                    </th>
                    <th>
                        Tên
                    </th>
                    <th>
                        Giới tính
                    </th>
                    <th>
                        SĐT
                    </th>
                    <th>
                        Địa chỉ
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Trạng thái
                    </th>
                    <th>Hành động</th>
                </tr>
            </thead>
            @if (Users == null)
            {
                <tbody>
                    <tr>
                        <td colspan="9">
                            <h3>Không có dữ liệu</h3>
                        </td>
                    </tr>
                </tbody>
            }
            else
            {
                @foreach (var item in Users)
                {
                    <tbody>
                        <tr>
                            <td>
                                <img src="@item.Avatar" width="50px" height="50px" />
                            </td>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Gender
                            </td>
                            <td>
                                @item.PhoneNumber
                            </td>
                            <td>
                                @item.Address
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                @item.Status
                            </td>
                            <td>
                                <a href="" class="mx-2"><i class="fa-solid fa-pen"></i></a>
                                <a href="" class="mx-2 text-danger"><i class="fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                }
            }
        </table>
    </div>
</div>

@code {
    private User User = new User();
    public async Task Create()
    {
        try
        {
            var response = await _userservice.Create(User);
            notification = "User created successfully";
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}

