@page "/listproduct"
@rendermode InteractiveServer
<div class="container">
    <section class="navbar-nav">
        <ul class="filters_menu nav justify-content-center">
            <li class="nav-item">
                <button class="nav-link" @onclick="OnInitializedAsync">All</button>
            </li>
            @if (Categories == null)
            {
                <p>Loading...</p>
            }
            else
            {
                foreach (var item in Categories)
                {
                    <li class="nav-item">
                        <button class="nav-link" @onclick="() => GetByCategoryId(item.Id)">@item.Name</button>
                    </li>
                }
            }
        </ul>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    @if (Products == null)
                    {

                    }
                    else
                    {
                        foreach (var item in Products)
                        {
                            <div class="col-sm-3">
                                <div class="card product-card">
                                    <img alt="Product" src="@item.ImageUrl" class="card-img-top">
                                    <div class="card-body text-center">
                                        @* Product Name *@
                                        <h5>@item.Name</h5>
                                        @* Description *@
                                        <p>
                                            @item.Description
                                        </p>
                                        @* Price *@
                                        <span> Giá : @item.Price.ToString("#,##")</span>
                                        @* button *@
                                        <div class="d-flex justify-content-around mt-2">
                                            <a href="productdetails/@item.Id" class="btn btn-outline-dark"><i class="fas fa-align-left mx-1"></i> View Details</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>

                <div>
                    <button @onclick="PreviousPage" disabled="@(!hasPreviousPage)">Previous</button>
                    <span>Page @currentPage of @totalPages</span>
                    <button @onclick="NextPage" disabled="@(!hasNextPage)">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>