@page "/momo-return"
@inherits Pages.Payment
@using FrontEnd.Models
@using Newtonsoft.Json
@if (resultCode == "0")
{
    <div class="container mt-5">
        <div class="card">
            <div class="card-header text-center bg-success text-white">
                <h4>Thông tin đơn hàng</h4>
            </div>
            <div class="card-body text-center">
                <div class="mb-4">
                    <img src="https://img.icons8.com/color/96/000000/checkmark.png" alt="Success">
                    <h5 class="mt-3">Thanh toán thành công</h5>
                    <p>Đơn hàng của quý khách đã được thanh toán thành công</p>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td><strong>Họ và tên</strong></td>
                                <td>@model.FullName</td>
                            </tr>
                            <tr>
                                <td><strong>Số tiền thanh toán</strong></td>
                                <td>@amount.ToString("#,## VNĐ")</td>
                            </tr>
                            <tr>
                                <td><strong>Địa chỉ nhận hàng</strong></td>
                                <td>@model.Address</td>
                            </tr>
                            <tr>
                                <td><strong>Số điện thoại</strong></td>
                                <td>@model.PhoneNumber</td>
                            </tr>
                            <tr>
                                <td><strong>Phương thức thanh toán</strong></td>
                                <td>@model.PaymentType</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container mt-5">
        <div class="card">
            <div class="card-header text-center bg-danger text-white">
                <h4>Thông tin đơn hàng</h4>
            </div>
            <div class="card-body text-center">
                <div class="mb-4">
                    <img src="https://img.icons8.com/color/96/000000/cancel--v1.png" alt="Failed">
                    <h5 class="mt-3">Thanh toán thất bại</h5>
                    <p>Thanh toán đơn hàng không thành công, vui lòng kiểm tra số dư hoặc liên hệ với chúng tôi nếu xảy ra sự cố giao dịch.</p>
                </div>
            </div>
        </div>
    </div>

}


@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "resultCode")]
    public string resultCode { get; set; }
    [Parameter]
    [SupplyParameterFromQuery(Name = "amount")]
    public int amount { get; set; }
    private bool _loaded = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var serializedModel = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "paymentModel");
            if (!string.IsNullOrEmpty(serializedModel))
            {
                model = JsonConvert.DeserializeObject<Order>(serializedModel);
                await JSRuntime.InvokeVoidAsync("localStorage.removeItem", "paymentModel");
            }

            if (resultCode == "0")
            {
                model.PaymentStatus = "Đã thanh toán";
                await COD(model);
            }
            _loaded = true;
            StateHasChanged();
        }
    }
}
